@import "./src/styles/mixins";
@import "./src/styles/variables";


* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.wrapper {
  background-color: #fff;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  color: #333;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  position: relative;
  grid-template-areas:
    "header header header header header"
    "aside stats stats stats stats"
    "aside hero hero hero hero";
  ;
}