.section-blog {
   display: flex;
   gap: 67px;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
   h2 {
      margin-top: 17px;
      text-align: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
   }
   &__blog{
      width: 810px;
      height: 437px;
      background: #D9D9D9;
      .blog-list{
         list-style: none;
         display: flex;
         flex-direction: column;
         gap: 27px;
         margin-top: 15px;
         align-items: center;
         .blog-list-item {
            width: 759px;
            height: 70px;
            background: #F9D7D7;
            margin-left: -40px;
         }
      }
   }
   &__aside {
      width: 300px;
      height: 437px;
      background: #D9D9D9;
      .aside-list {
         list-style: none;
         display: flex;
         flex-direction: column;
         gap: 16px;
         margin-top: 15px;
         align-items: center;
         .aside-list-item{
            width: 247px;
            height: 110px;
            background: #BDCDF7;
            margin-left: -40px;
         }
      }
   }
}